html{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* font style for the html */
    background-color: #f4edea;/* background colour for html tags */
    
    }
    
    .body{
      background-color: #f4edea; /* background colour for all body tags*/
    }
    
    .footer{
      background-color: #750D37;/* background colour for footer */
      position: fixed; /* making the footer sticky */
      left: 0; /* making the footer sticky to side of the webpage*/
      bottom: 0; /* making the footer sticky to the botoom of the webpage*/
      width: 100%; /* making the footer span the whole webpage */
    }

    .title{
      padding-left: 5%; /* giving it padding */
      font-size: 40px; /* changing the font size */
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* changing the font */
      text-align: center; /* Making it appear in the center */
    }
    
    hr{
      width: 85%; /* making it span some of the webpage not all of it */
      text-align: center; /* aligning it to the center */
      border: 1px solid black; /* making it black and adjusting the width */
      margin-bottom: 30px; /* giving it a margin */
    }
    
    .fa-question-circle{
      font-size: 30px; /* changing the font size */
      color: white;/* changing the colour */
      padding: 7px; /* giving it padding */
      margin-left: 95%; /* Giving it a margin so it is on the left of the webpage */
    }

    .welcome1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0px;
    padding-top: 250px;
    font-size:35px;
    color: black
    }
    
    .welcome{
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 10px;
        font-size:100px;
        font-size:9vw;
        color: black;
        }
        .welcome:hover{
          font-size: 200px;
          transition: 1.5s; 
        }
    
    
        .homepic{
            width: 500x;
            height: 450px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 50%;
            height: auto;
            }
        
            #mySidenav a {
                position: absolute; /* Position them relative to the browser window */
                left: -110px; /* Position them outside of the screen */
                transition: 0.3s; /* Add transition on hover */
                padding: 12px; /* 15px padding */
                width: 145px; /* Set a specific width */
                text-decoration: none; /* Remove underline */
                font-size: 20px; /* Increase font size */
                color: white; /* Black text color */
                border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
              }
    
              #mySidenav a:hover {
                left: 0; /* On mouse-over, make the elements appear as they should */
              }
              
              /* The index link: 20px from the top with a background */
              #index {
                top: 30px;
                background-color: #750D37; /* Papaya Whip */
              }
              
              #atd {
                top: 100px;
                background-color:  #750D37; /* Papaya Whip */
              }
              
              #mark {
                top: 170px;
                background-color:  #750D37; /* Papaya Whip  */
              }
              
              #schedule{
                top: 240px;
                background-color:  #750D37 /* Papaya Whip */
              }
  
              .fa-home{
                font-size: 20px;
                padding-left: 60px;
                color: white;
              }
    
              .fa-user-circle{
                font-size: 20px;
                padding-left: 15px;
                color: white;
              }
    
    
             .fa-clipboard-list{
               font-size: 20px;
               padding-left: 40px;
               color: white;
             }
    
             .fa-pencil-alt{
              font-size: 20px;
              padding-left: 24px;
              color: white;
             }
    
        

    
   
    
          /*Attendance Page */
    
          .atdtitle{
            padding-left: 200px;
          }
    
          .atd2{
             color: black;
             
          }
    
          .class-head{
            width: 60%;
            font-weight: bold;
            text-align: center;
            height: 40px;
            border: 1px solid #12263a;
            padding: 8px; 
            background-color: #12263a;
            color: aliceblue;
          }

          .atd-head2{
            width: 40%;
            font-weight: bold;
            text-align: center;
            height: 40px;
            border: 1px solid #12263a;
            padding: 8px; 
            background-color: #12263a;
            color: aliceblue;

          }

          .atdcol-head{
            font-weight: bold;
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            height: 60px;
            background-color: #f4edea;
            border-bottom:1px solid #12263a;
            border-top:1px solid #12263a;
            border-left:1px solid #12263a;
            border-right: 1px solid #12263a;
          }

          .atd-cls{
            height: 4px;
            background-color: lightgrey;
            border-bottom:1px solid #12263a;
            border-left:1px solid #12263a;
            border-right: lightgrey;
            font-size: small;
            font-weight: bold;
           }
           .atd-cls-mid{
            height: 4px;
            background-color: lightgrey;
            border-bottom:lightgray;
            border-left:lightgray;
            border-right:1px solid #12263a ;
            font-size: small;
            font-weight: bold;
           }

           .atd-cls-side{
            height: 4px;
            background-color: lightgrey;
            border-bottom:lightgray;
            border-left:lightgray;
            border-right: 1px solid #12263a;
            font-size: small;
            font-weight: bold;
           }

           .atd-row{
              height: 40px;
              background-color: #f4edea;
              border: 1px solid #12263a;
              text-align: left;
              padding: 8px;
              height: 30px;
            
           }
    
      
          table {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            width: 80%;
            margin-left: 200px;
          }
    
          th{
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px; 
          }

          .submit {
            background-color: #750D37;
            color: #f4edea;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          }

          /* buttons */

          .present{
             font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
             width: 70px;
             background-color:"";
          }

          .absent{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            width: 70px;
         }

         .late{
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          width: 70px;
       }
         
        
    
          /* Attendance Flip cards */
          .flip-card {
      background-color: transparent;
      width: 200px;
      height: 200px;
      padding-left: 200px;
      padding-top: 5%;
    }
    
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    
    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }
    
    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    
    .flip-card-front {
      background-image:url("Flip-Card bg.webp");
      color: white;
    }
    
    .flip-card-back {
      background-color: #FFEFD3;
      color: black;
      transform: rotateY(180deg);
    }
    
    /* Schedule page */
    
    
    .sch{
      background-color: #f4edea;
      border: 1px solid #12263a;
      margin-bottom: 100px;
    }
    
    .sch-head{
      border: 1px solid #12263a;
      text-align: left;
      padding: 8px; 
      background-color: #12263a;
      color: aliceblue;
      width: 15%;
    }
    
    .sch-table-top{
      font-weight: bold;
      background-color: #f4edea;
      height: 100px;
      width:5%;
      border: 1px solid #12263a;
    }


    table {
      border-collapse: collapse;
      background: white;
      color: black;
      background-color:lightgrey; 
      text-align:center;
    }
    
    /*Markbook page */

    .mrk-head{

      text-align: center;
      height: 40px;
      font-weight: bold;
      border: 1px solid #12263a;
      padding: 8px; 
      background-color: #12263a;
      color: aliceblue;
    }

    .mrk-row{
      height: 40px;
      background-color: #f4edea;
      border: 1px solid #12263a;
    }

    .fa-plus-circle{
      font-size: 25px;
      color: white;
      padding: 7px;
      margin-left: 89%;
  
    }

    .mrk-name{
      width: 25%;
      font-weight: bold;
      text-align: center;
      height: 40px;
      border: 1px solid #12263a;
      padding: 8px; 
      background-color: #12263a;
      color: aliceblue;
    }

    .mrk-mrk{
      width: 10%;
      font-weight: bold;
      text-align: center;
      height: 40px;
      border: 1px solid #12263a;
      padding: 8px; 
      background-color: #12263a;
      color: aliceblue;
    }

    .mrk-schcls{
     height: 4px;
     background-color: lightgrey;
     border-bottom:1px solid #12263a;
     border-left:1px solid #12263a;
     border-right: lightgrey;
     font-size: small;
     font-weight: bold;
    }

    .mark-class{
      margin-left: 150px;
      margin-top: 25px;
      margin-bottom: 100px
    }

    .mrk-mid{
      border-left: 1px solid lightgrey;
      border-right: 1px solid lightgrey;
      height: 10px;
      border-bottom: 1px solid #12263a;
    }

    .mrk-side{
      border-right:1px solid #12263a ;
      border-bottom: 1px solid #12263a;
      height: 10px;
      text-align: right;
      font-weight: bold;
      font-size: small;
    }

    /* Topic - Markbook */

    .topic-section{
      margin: auto;
      max-width: 300px;
      width: 100%;
      background: #fff;
      border-radius: 50px;
      padding: 25px;
  }
  
  .topic-section header{
      font-size: 20px;
      font-weight: 600;
  }

  input{
    width: 50%;
    height: 100%;
    border: 1px solid #ccc;
    font-size: 15px;
    border-radius: 3px;
    padding-left: 15px;
}
     
    /* Responsive Screen */

    @media screen and (max-width:700px) {

      /* Nav Bar responsive screen */

    #mySidenav a {
      position: absolute; /* Position them relative to the browser window */
      left: -110px; /* Position them outside of the screen */
      transition: 0.3s; /* Add transition on hover */
      padding: 15px; /* 15px padding */
      width: 120px; /* Set a specific width */
      text-decoration: none; /* Remove underline */
      font-size: 15px; /* Increase font size */
      color: white; /* White text color */
      border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
    }

    .fa-home{
      font-size: 15px;
      padding-left: 62px;
    }

    .fa-user-circle{
      font-size: 15px;
      padding-left: 30px;
    }

   .fa-clipboard-list{
     font-size: 15px;
     padding-left: 49px;
   }

   .fa-pencil-alt{
    font-size: 15px;
    padding-left: 35px;
   }

    /* Flip Card responsive screen */

   .flip-card {
    background-color: transparent;
    width: 150px;
    height: 150px;
    padding-left: 150px;
    padding-top: 5%;
  }
  

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 85%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-image:url("Flip-Card\ bg.webp");
    color: white;
  }
  
  .flip-card-back {
    background-color: #FFEFD3;
    color: black;
    transform: rotateY(180deg);
  }
     
   }

  /* to put in its rightful place */ 

  th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px; 
  }
  
  td{
    border: 1px solid white;
    text-align: left;
    padding: 8px;
    height: 100px;
  }
  

    
             
              
    
    
              
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    