@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700$display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background: #f4edea;
}

.wrapper{
    margin: 200px auto;
    max-width: 385px;
    max-height: 500px;
    width: 100%;
    background: #750D37;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrapper .inputField{
    display: flex;
    height: 45px;
    width: 100%;
    margin: 155px 0;
}

.inputField input{
    width: 85%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-radius: 20px;
    padding-left: 15px;
    margin-top: 135px;
}

.inputField button{
    width: 60px;
    height: 100%;
    border: none;
    outline: none;
    background: #f4edea;
    color: #750D37;
    font-size: 22px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 5px;
    opacity: 0.6;
    pointer-events: none;
    margin-top: 135px;
}

.inputField button.active{
    opacity: 1;
    pointer-events: auto;
}

.wrapper .todoList{
    max-height: 300px;
    overflow-y: auto; 

}



.todoList li{
    list-style: none;
    height: 45px;
    line-height: 45px;
    position: relative;
    background: #f4edea;
    border-radius: 20px;
    margin-bottom: 8px;
    padding: 0 15px;
    max-height: 100px;
    cursor: default;
    overflow: hidden;
}

.todoList li span{
    position: absolute;
    right: -45px;
    color: #fff;
    width: 45px;
    text-align: center;
    background: #e74c3c;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.todoList li:hover span{
    right: 0px;
}

.wrapper .footer{
    text-align: right;
    color: white;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
    margin-right: 10px;

}

.footer button {
    padding: 6px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}



.footer button.active{
    opacity: 1;
    pointer-events: auto;
}







